* {
    /* outline: 1px solid black; */
    margin: 0 auto;
    padding: 0;
}

.background_img {
    background-image: url("../image/index_background_image.jpg");
    background-size: 300%;
    height: calc(100vh - 10px);
    top: -10px;
    position: relative;
}

p, h3 {
    margin: 0;
}

header {
    width: 100vw;
    height: 70px;
    background-color: white;
    justify-content: start;
    align-items: center;
    position: fixed;
    top: 0;

}

header a {
    width: 9vh;
}

header img {
    height: 6vh;
    vertical-align: bottom;
}

header label {
    display: block;
}

.header_menu_guide {
    display: none;
}

#header_menu {
    display: none;
    position: absolute;
    width: 100vw;
    height: auto;
    padding: 0;
    top: 70px;
    font-size: 15px;
}

#header_menu li {
    margin-block: 0.5em;
}

.header_menu_guide:checked ~ #header {
    display: block;
    height: 32vh;
}

.header_menu_guide:checked ~ #header_menu {
    display: flex;
    background-color: white;
}

.header_menu_guide:checked ~ #header_menu ul {
    width: 100%;
}

header a, header ul {
    margin-inline: 2vw;
    justify-content: space-evenly;
}

.header_logo {
    display: none;
}

li {
    list-style: none;
    margin-inline: 2vw;
}

a {
    text-decoration: none;
    color: black;
}

main {
    width: 92vw;
    padding: 0;
    margin-inline : 4vw;
    margin-block: 20px;
}

.background_img main {
    margin-block: 0;
}

.main_height {
    height: 89vh;
}

/* index.php */

.main_position {
    position: absolute;
    top: 70px;
}

.justify_content_center {
    justify-content: center;
}

#top_image {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main_image {
    width: 100%;
    height: 100%;
}

.position_relative {
    position: relative;
}

.position_absolute {
    position: absolute;
    transform: translate(-50%, -50%);
}

#river_sparkle {
    height: 92vw;
    width: 92vw;
    top: 50%;
    left: 50%;
    z-index: 0;
}

#main_logo {
    height: 32vw;
    width: 32vw;
    top: 50%;
    left: 48%;
}

#login, #create_account {
    margin-top: 5vh;
}

.position_fixed {
    position: initial;
}

#navi_menu {
    top: 40%;
    transform: translate(0, -2%);
}

#login button, #create_account button {
    margin-block: 2vh;
}

.display_none {
    display: none;
}

label {
    display: block;
    margin-inline: 0;
}

/* account_top.php */

.wrap {
    flex-wrap: wrap;
}

#account_top ul {
    display: flex;
    flex-wrap: wrap;
}

#account_top .main ul {
    height: calc(98vh - 120px);
    margin-bottom: 2vh;
}

#account_top li {
    height: (50% - 4vh);
}

#account_top button {
    height: calc(100% - 4vw);
    width: 40vw;
    margin: 2vw;
    border: 1px solid;
    border-radius: 16px;
    cursor: pointer;
    font-size: 16px;
}

#bulletin_board_link {
    background-image: url("../image/bulletin_board.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#information_map_link {
    background-image: url("../image/information_map.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#upload_link {
    background-image: url("../image/upload.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#account_setting_link {
    background-image: url("../image/account_setting.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

/* bulletin_board.php */

#bulletin_board {
    display: block;
    width: 100%;
    font-size: 15px;
}

.space_between {
    justify-content: space-between;
}

#backnumber_search_container {
    width: 100%;
    margin-block: 1vw;
    border-radius: 16px;
    justify-content: center;
}

#backnumber_search_box {
    flex-direction: column;
}

#backnumber_search {
    background-color:rgb(241, 233, 176);
    width: auto;
    padding: 2vw;
    border-radius: 16px;
    margin: 0;
}

#backnumber_search p {
    display: block;
}

#backnumber_search_container ul {
    padding: 0;
}

#bulletin_board li {
    margin-inline: 1vw;
}

#sbulletin_board .list_title {
    display: block;
    margin-right: 1vw;
}

.align_items_center {
    align-items: center;
}

#backnumber_search button {
    display: block;
    justify-content: center;
    margin: 0 auto;
    width: 100px;
}

.current_search_requirement {
    /* margin-top: 1vh; */
    padding: 2vw;
    width: calc(100% - 4vw);
    justify-content: center;
    margin-left: 0;
}

.width {
    width: calc(100% - 90px - 4vw);
}

.radio_container {
    gap: 3vw;
}

#pagenation {
    margin: 0;
    padding: 2vw;
    width: calc(100% - 4vw);
    justify-content: center;
}

.space_around {
    justify-content: space-around;
}

#pagenation ul {
    width: 100%;
}

#pagenation a {
    margin: 0;
}

h2 {
    line-height: 2em;
    font-size: 20px;
}

.bulletin_board_view {
    display: flex;
    align-items: center;
    /* gap: 1vw; */
    flex-wrap: wrap;
    /* width: 100%; */
}

.each_view_frame {
    margin: 0;
}

.bulletin_board_view .each_view {
    background-color: white;
    height: auto;
    width: auto;
    border-radius: 16px;
    margin-top: 4vw;
    margin-bottom: 0;
    margin-inline: 0;
    padding: 4vw;
}

.cursor_pointer {
    cursor: pointer;
}

.flex {
    display: flex;
}

.each_view .flex p {
    padding: 4px;
    border-radius: 4px;
}

.each_view .preview_text {
    margin: 0;
    padding: 0;
    width: 100%;
}

.season {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
}

.spring {
    background-color: #f0accd;
}

.summer {
    background-color: #98c6ff;
}

.autumn {
    background-color: #F09523;
}

.winter {
    background-color: #dc4848;
}

.category {
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
}

.flex_direction_column {
    flex-direction: column;
}

.each_view img {
    width: 85vw;
    height: 65vw;
    object-fit: cover;
    margin-block: 16px;
    border-radius: 10px;
}

.article_view_text {
    word-break: break-all;
}

#back_to_top {
    font-size: 15px;
}

/* information_map.php */

#article, #information_map {
    height: auto;
    margin-bottom: 3vh;
}

#map_container {
    height: auto;
    width: calc(100% - 4vw);
    background-color: white;
    border-radius: 20px;
    padding: 2vw;
    font-size: 15px;
    margin: 0;
}

#map_container #map {
    height: calc(86vh - 154.5px);
    width: 100%;
    margin: 0;
    border-radius: 20px;
}

.margin_3vh {
    margin: 3vh;
}

#map_content {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#flex_container {
    display: block;
}

#map_search {
    width: calc(100% - 2vw);
    background-color:rgb(241, 233, 176);
    margin-inline: 0;
    margin-block: 2vw;
    padding: 1vw;
    border-radius: 16px;
}

#map_search .list_title {
    width: 90px;
    margin-right: 4vw;
}

#map_search .radio_container {
    gap: 2vw;
}

#map_current_search_requirement {
    width: calc(100% - 2vw);
    margin: 0;
    padding: 1vw;
    border-radius: 16px;
    background-color: rgb(233, 233, 233);
}

#map_content .each_view {
    background-color: white;
    border-radius: 20px;
    width: calc(100% - 4vw);
    height: auto;
    padding: 2vw;
}

#map_search button {
    display: block;
    justify-content: center;
    margin: 0 auto;
    width: 100px;
}

.margin_bottom_8px {
    margin-bottom: 8px;
}

.preview .flex:nth-child(3) {
    display: block;
}

#preview_info {
    margin: 0;
    margin-bottom: 8px;
}

.image_container {
    width: 100%;
    height: 55vw;
    margin-block: 10px;
}

.preview_bottom {
    display: block;
}

#map_content .each_view {
    height: auto;
}

#map_content .each_view img {
    object-fit: cover;
    margin-block: 0px;
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

.preview_left {
    width: 100%;
    height: 240px;
    object-fit: cover;
    margin-block: 16px;
    border-radius: 10px;
}

.preview_right {
    width: 100%;
}

.preview_text {
    height: auto;
}

/* article.php */

.each_article {
    background-color: white;
    height: auto;
    border-radius: 10px;
}

.each_article h3 {
    margin-bottom: 4px;
    font-size: 22px;
}

.gap_1vw {
    gap: 1vw;
}

.each_article_detail {
    height: 70vh;
}

.each_detail_visual {
    height: 90%;
    width: 100%;
    flex-direction: column;
    margin-top: 2vw;
    gap: 2vw;
}

.each_detail_visual_main {
    height: 55vw;
    width: 100%;
    border-radius: 20px;
}

.each_detail_sumbnail_container {
    width: 100%;
    height: 20vw;
    flex-direction: row;
    margin: 0;
    gap: 2vw;
}

.each_detail_sumbnail {
    width: calc((100% - 4vw) / 3);
    height: 100%;
}

.each_detail_visual img {
    width: 100%;
    height: 100%;
    vertical-align: bottom;
    object-fit: cover;
}

#each_detail_paragraph {
    width: 50%;
    margin: 3vh;
}

#each_article_right {
    margin-top: 4vw;
}

#each_article_right p {
    margin-bottom: 4vw;
    font-size: 14px;
    word-break: break-all;
}

#no_map_flower_1 {
    width: 19vw;
    height: 16vw;
}

#no_map_flower_2 {
    width: 22vw;
    height: 16vw;
}

#no_map_flower_3 {
    width: 20vw;
    height: 18vw;
}

#no_map_flower_4 {
    width: 14vw;
    height: 18vw;
}

/* article_management.pjp */

#upload_link_button {
    margin-bottom: 4px;
}

/* upload.php */

.form_container {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form_ul {
    width: 100%;
    height: 960px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form_ul>li {
    flex-direction: column;
    margin-inline: 0;
}

#title_li {
    flex-direction: column;
}

#title {
    overflow: hidden;
    resize: none;
    line-break: anywhere;
    width: 20em;
}

#text {
    overflow: scroll;
    resize: none;
    line-break: anywhere;
    width: 40em;
}

.char_counter_title {
    margin-left: 10px;
}

.char_counter_box {
    display: flex;
    flex-direction: column;
    align-items: end;
    align-items: baseline;
    height: 100%;
    margin: 0;
}

.char_counter_text {
    display: block;
    text-align: right;
    width: 100%;
}

.flex_column {
    flex-direction: column;
}

select {
    width: 40px;
}

#upload_form, #edit_form {
    margin-inline: 0;
}

.width_120px {
    width: 120px;
}

.margin_0 {
    margin: 0;
}

.align_items_start {
    align-items: start;
    line-height: 3;
}

.justify_content_flex_end {
    justify-content: flex-end;
}

.align_items_end {
    align-items: end;
}

#map_point_container {
    flex-direction: column;
}

.map_point {
    margin-block: 0;
    margin-left: 0;
}

#lat {
    width: 8rem;
}

#save_button, #upload_button {
    margin-inline: 0;
    width: 100px;
}

#upload_map_container {
    height: 400px;
    width: 92vw;
    margin-top: 1vh;
    margin-bottom: 2vh;
}

#map3 {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

/* edit.php */

.opacity {
    opacity: 0.7;
}

.edit .image_container {
    width: 80px;
    height: 60px;
}

/* account_setting.php */

#account_setting {
    height: auto;
}

.account_setting_box {
    height: auto;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 4vh;
    margin-block: 1vh;
}

.account_setting_container_left {
    width: 96%;
    height: calc(95vh - 112px);
    border-radius: 20px;
    position: relative;
}

.account_setting_container_right {
    width: 66%;
    height: 40vh;
    border-radius: 20px;
    position: relative;
}

.river_sparcle_blue {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#account_setting_form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

#account_edit {
    margin-bottom: 0;
}

#account_setting ul {
    overflow: hidden;
}

#account_setting li {
    margin-block: 1vh;
    flex-direction: column;
}

.width_220px {
    width: 220px;
}

.text_align_center {
    text-align: center;
}

.margin_left_2vw {
    margin: 0;
    margin-left: 2vw;
    display: flex;
    gap: 2vw;
}

#save_setting_button {
    margin-block: 1.5vh;
    margin-inline: 0;
    width: 100px;
}

#account_delete_container {
    width: 100%;
    height: 100%;
}

.river_sparcle_blue_mini {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#account_delete_form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex;        
    flex-direction: column;
}

#account_delete {
    margin-bottom: 0;
    display: block;
}

#account_delete_button {
    margin-block: 1.5vh;
}